
body {
    background-image: url('background.png');
    background-position: center;
}

table {
    margin: auto;
    margin-top: 50px;
    font-family: Arimo;
    font-size: 16px;
    color: #484848;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    width: 277px;
    height: 69px;
    border-left: 1px solid lightgrey;
}


tr:nth-child(odd) {
    background: #f2f2f2;
}

tr:nth-child(even) {
    background: #e3e3e3;
}

th:first-child {
    background: #fafafa;
}

tr:nth-child(2) {
    background: #fafafa;
}

tr:last-child td:first-child {
    background: #dddddd;
}

.pricing_plan {
    font-size: 30px;
}

.plan_standard {
    font-size: 24px;
    color: white;
    background-color: #89c331;
}

.plan_ultimate {
    font-size: 30px;
    color: white;
    background-color: #f04a56;
}

.plan_premium {
    font-size: 24px;
    color: white;
    background-color: #20807c;
}

.price {
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
    float: left;
    margin-left: 30px;
}

.cents {
    font-size: 24px;
    font-weight: bold;
    line-height: 25px;
    text-align: left;
}

.month {
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    text-align: left;
}

.contact {
    border: none;
    border-radius: 5px;
    width: 192px;
    height: 49px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #484848;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    margin-top: 32px;
    margin-bottom: 30px;
}

.contact:hover {
    background: rgba(0,0,0,0);
    color: #484848;
    box-shadow: inset 0 0 0 3px #484848;
}

.buy_standard {
    border: none;
    border-radius: 5px;
    width: 192px;
    height: 49px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #89c331;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.buy_standard:hover {
    background: rgba(0,0,0,0);
    color: #89c331;
    box-shadow: inset 0 0 0 3px #89c331;
}

.buy_ultimate {
    border: none;
    border-radius: 5px;
    width: 192px;
    height: 49px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #f04a56;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.buy_ultimate:hover {
    background: rgba(0, 0, 0, 0);
    color: #f04a56;
    box-shadow: inset 0 0 0 3px #f04a56;
}

.buy_premium {
    border: none;
    border-radius: 5px;
    width: 192px;
    height: 49px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #20807c;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.buy_premium:hover {
    background: rgba(0,0,0,0);
    color: #20807c;
    box-shadow: inset 0 0 0 3px #20807c;
}
